/* @VARIABLES */
/* ********** */


// COLORES
$colores: (
    negro: #3A3A3A,
    blanco: #F5F5F5,
    colorfondo: #D0EEFF
);

// TAMAÑOS
$dispositivos: (
    smartphone: 360px,
    ipad: 768px,
    desktop: 1366px
);

$breakpoints: (
    smartphone: 320px,
    ipad: 768px,
    desktop: 1100px
);
